<h1>Task新規作成ページ<span class="badge badge-secondary">New</span></h1>
  <%= form_for(@task) do |i| %>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6"> 
        <div class="form-group">
          <%= i.label :content, "タスク" %>
          <%= i.text_field :content, class: 'form-control' %>
          <%= i.label :status, 'ステータス' %>
          <%= i.text_field :status, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6"> 
        <%= i.submit "Regist", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>